@import "tailwindcss";

:root {
  --dark-blue: #1e3a8a;
  --light-blue: #3b82f6;
  --white: #ffffff;
  --light-gray: #f3f4f6;
  --dark-gray: #6b7280;
  --light-green: #dcfce7;
  --green: #16a34a;
  --light-red: #fee2e2;
  --red: #dc2626;
  --gray-blue: #e5e7eb;
}
